/* ALT PAGE STYLES 
---------------------*/
img #alt-road-pic {
	width: 500px;
}


/* FOOTER
------------------------*/

/* page footer */
#page-footer {
	display: block;
}

#page-footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#page-footer ul {
	list-style-type: none;

}
#page-footer ul li {
	display: inline-block;
}

#page-footer a, #page-footer ul li a {
	text-decoration: none;
	color: #b8b8b8;
	font-size: 1em;
	display: inline;
	padding: 4px 6px;
	font-weight: 700;
}

#page-footer a:hover, #page-footer ul li a:hover {
	background-color: #e8e8e8;
	color: #333333;
}

.bb-list {
	display: flex;
	justify-content: space-between;
}

.bb-dropdown {
	display: none;
}

.bb-dropdown li a {
	display: block;
}

.aew-credit:hover .bb-dropdown {
	display: block;
}

/* @ MEDIA 1280px, 940px, 770px, 580px 
-----------------------------------------*/
